.navbar-side-menu-and-trend-videos-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.side-menu-and-trend-videos-section {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 10vh);
  width: 100vw;
}

.side-menu-container {
  width: 15vw;
  height: 100%;
}

.trend-videos-section {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 100%;
  overflow-y: auto;
}

.light-theme-trend-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1f1f1;
  background-size: cover;
  width: 100%;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dark-theme-trend-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #424242;
  background-size: cover;
  width: 100%;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.light-theme-trend-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin-right: 20px;
}

.dark-theme-trend-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin-right: 20px;
}

.light-theme-trend-icon {
  width: 30px;
  height: 30px;
  color: #000000;
}

.dark-theme-trend-icon {
  width: 30px;
  height: 30px;
  color: #ffffff;
}

.trend-heading {
  color: #231f20;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 600;
}

.light-theme-trend-videos {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  background-size: cover;
  height: auto;
  padding-top: 40px;
  padding-left: 60px;
  padding-bottom: 20px;
  margin-top: 0px;

  list-style-type: none;
}

.dark-theme-trend-videos {
  display: flex;
  flex-direction: column;
  background-color: #181818;
  background-size: cover;
  height: auto;
  padding-top: 40px;
  padding-left: 60px;
  padding-bottom: 20px;
  margin-top: 0px;

  list-style-type: none;
}

.trend-video {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  list-style-type: none;
}

.trend-video-thumbnail-image {
  width: 300px;
  height: 180px;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
}

.trend-video-content {
  display: flex;
  flex-direction: column;
}

.light-theme-trend-video-title {
  color: #231f20;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
}

.dark-theme-trend-video-title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
}

.trend-video-channel-name {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
}

.views-published-at-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trend-video-views {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  margin-right: 25px;
}

.trend-video-published-at {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  list-style-type: disc;
}

.loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.trending-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  height: 90vh;
  width: 100%;
}

.failure-view {
  width: 300px;
  height: 250px;
}

.failure-heading {
  color: #000000;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
}

.failure-description {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.retry-btn {
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
